<template name="articleEditComponent">
	<div class="article-edit-component">
		<form class="article-form">
			<fieldset>
				<legend>article-edit-component</legend>
				
				<label for="article-form-title">title</label>
				<input type="text" name="article-form-title" id="article-form-name" max="140">
				<br>

				<p>author: {{currentUser._id}}</p>
				<br>

				<label for="article-form-category">category</label>
				<select name="article-form-category" id="article-form-categories">
				{{#each category in categories}}
					<option value="{{category._id}}">{{category.name}}</option>
				{{/each}}
				</select>
				<br>

				<label for="article-form-series">series</label>
				<select name="article-form-series" id="article-form-series">
					<option value="0">none</option>
				{{#each theSeries in series}}
					<option value="{{theSeries._id}}">{{theSeries.name}}</option>
				{{/each}}
				</select>
				<br>

				<fieldset>
					<legend>tags</legend>
					{{#each tag in tags}}
						<label for="article-form-tags-{{tag._id}}">{{tag.name}}</label>
						<input type="checkbox" name="article-form-tags" value="{{tag._id}}" id="article-form-tags-{{tag._id}}">
						<br>
					{{/each}}
				</fieldset>

				<label for="article-form-is-listed">listed</label>
				<input type="checkbox" name="article-form-is-listed" id="article-form-is-listed" checked>
				<br>

				<label for="article-form-is-draft">draft</label>
				<input type="checkbox" name="article-form-is-draft" id="article-form-is-draft">
				<br>

				<label for="article-form-body">body</label>
				<textarea name="article-form-body" id="article-form-body"></textarea>
				<br>

				<button type="submit">submit</button>
			</fieldset>
		</form>
	</div>
</template>
