<template name="articleMetaComponent">
	<div class="article-meta-component">
		<ul>
			<li><strong>authors:</strong>
				<ul>
				{{#each author in authors}}
					<li>{{author.username}}</li>
				{{/each}}
				</ul>
			</li>
			<li><strong>category:</strong> {{category.name}}</li>
			{{#if hasSeries}}
				<li><strong>series:</strong> {{series.name}}</li>
			{{/if}}
			<li><strong>tags:</strong>
				{{#each tag in tags}}
					{{> tagComponent tag}}
				{{/each}}
			</li>
			<li><strong>upvotes:</strong> {{upvotes.length}}</li>
			<li><strong>createdAt:</strong> {{createdAt}}</li>
			<li><strong>editedAt:</strong> {{editedAt}}</li>
			<li><strong>status:</strong>
				{{#if isDraft}}
					brouillon
				{{else}}
					{{#if isListed}}
						listé
					{{else}}
						caché
					{{/if}}
				{{/if}}
			</li>
			<li><a href="/admin/edit/{{_id}}">edit</a></li>
		</ul>
	</div>
</template>

