<template name="categoryEditComponent">
	<div class="category-edit-component">
		<form class="category-form">
			<fieldset>
				<legend>category-edit-component</legend>
				<input type="text" name="category-form-name" max="140" placeholder="name" value="{{name}}"><br>
				<textarea name="category-form-description" max="420" placeholder="description">{{description}}</textarea><br>
				<button type="submit">save</button>
				<button type="reset">clear</button>
			</fieldset>
		</form>
	</div>
</template>

