@import './normalize';
@import './layouts';
@import './pages';
@import './components';

body {
	color: #222;
}

table, thead, tfoot, tbody, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;

	th, td {
		padding: 2px;
	}
}

label {
	display: inline-block;
	min-width: 200px;
}

